#The service name 
SERVICE_NAME=property

# The app hostname
APP_HOST=127.0.0.1

#nginx port
NGINX_PORT=80

# Database name
MYSQL_DATABASE=property

# Database user
MYSQL_USER=devuser

# Database user password
MYSQL_PASSWORD=devpass

# Database root password
MYSQL_ROOT_PASSWORD=root

# Database port
MYSQL_PORT=3306
